.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Not sure this is correct.  I am trying to create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 200px;
    height: 300px;
  }

  #backtoresults {
    padding: 1em;
    background-color: rgb(182, 182, 182);
    margin: .3em;
    border-radius: 4px;
  }

  #backtoresults a {
    color: rgb(216, 145, 12);
    text-decoration: none;
  }

  .row {
    display: flex;
    flex-direction: column;
  }