#backtoresults {
        background-color: rgb(125, 125, 131);
        min-height: 1em; 
        width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
 
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: left;
  width: 200px;
  height: 300px;
  float: left;
}
